<form
  id="formconnect"
  method="post"
  action="{{ route('user.login') }}"
  class="w-[50%] space-y-7 visible bg-gray-800 rounded-[1rem] p-4 flex flex-col justify-center items-center"
>
  <h2 class="text-2xl font-bold text-white">
    Connexion
  </h2>

  <!-- Champ Email -->
  @!component('pages/authentification_interfaces/components/inputcomponent', {
        labelText: 'Email',
        type: 'email',
        placeholder: 'johndoe@gmail.com',
        nameInput: 'email'
  })

  <!-- Champ Mot de passe -->
  @!component('pages/authentification_interfaces/components/inputcomponent', {
        labelText: 'Password',
        type: 'password',
        placeholder: 'Enter your password',
        nameInput: 'password'
  })

  <!-- Bouton de connexion -->
  @!component('pages/authentification_interfaces/components/buttoninterface', {
        type: 'submit',
        textbtn: 'Sign in '
  })

  <!-- Lien vers l'inscription -->

  @inputError('password')
    @each(message in $messages)
      <p class="text-red-500 text-center font-bold">
        {{ message }}
      </p>
    @end
  @end
  
</form>

