<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        Clone X
    </title>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
    <link href="/resources/css/dashboard.css" rel="stylesheet">
</head>

<body>
    <header>
    </header>
    <main>
        <div id="menu">
            <div>
                <img src="/public/tweeter.svg" alt="tweeter">
                <nav>
                    <ul>
                        <li data-id="Home">
                            <img src="/public/home.svg" alt="home icon">
                            <p>Home</p>
                        </li>
                        <li data-id="Explore">
                            <img src="/public/hashtag.svg" alt="explore icon">
                            <p>Explore</p>
                        </li>
                        <li data-id="Notifications">
                            <img src="/public/notification.svg" alt="notifications icon">
                            <p>Notifications</p>
                        </li>
                        <li data-id="Messages">
                            <img src="/public/message.svg" alt="messages icon">
                            <p>Messages</p>
                        </li>
                        <li data-id="Bookmarks">
                            <img src="/public/bookmark.svg" alt="bookmarks icon">
                            <p>Bookmarks</p>
                        </li>
                        <li data-id="Lists">
                            <img src="/public/list.svg" alt="lists icon">
                            <p>Lists</p>
                        </li>
                        <li data-id="Profile">
                            <img src="/public/profil.svg" alt="profile icon">
                            <p>Profile</p>
                        </li>
                        <li data-id="More">
                            <img src="/public/more.svg" alt="more icon">
                            <p>More</p>
                        </li>
                    </ul>
                </nav>
                <button>
                    Tweet
                </button>
            </div>

            <div>
                <img src="/public/profile_photo.jpeg" alt="profile_img">
                <div>
                    <p>Utilisateur</p>
                    <p>@username_</p>
                </div>
                <img src="/public/More-2.svg" alt="more-2">
            </div>
        </div>

        <section>
            <div>
                <h1>Home</h1>
                <img src="/public/Timeline-Prop.svg" alt="AIicon">
            </div>

            <div>
                <img src="/public/profile_photo.jpeg" alt="profile_img">
                <div>
                    <textarea id="autoResize" placeholder="What's happening?"></textarea>

                    <div>
                        <nav>
                            <ul>
                                <li>
                                    <img src="/public/Icons/Media.svg" alt="icon">
                                </li>
                                <li>
                                    <img src="/public/Icons/Gif.svg" alt="icon">
                                </li>
                                <li>
                                    <img src="/public/Icons/Poll.svg" alt="icon">
                                </li>
                                <li>
                                    <img src="/public/Icons/Emoji.svg" alt="icon">
                                </li>
                                <li>
                                    <img src="/public/Icons/Schedule.svg" alt="icon">
                                </li>
                            </ul>
                        </nav>

                        <button>Tweet</button>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <img src="/public/profile_photo.jpeg" alt="icon">
                </div>

                <div>
                    <div>
                        <p>CNN</p>
                        <img src="/public/Group.svg" alt="checkIcon">
                        <span>@CNN .</span>
                        <span>7m</span>
                    </div>

                    <div>
                        <p>
                            President Joe Biden touted a new agreement reached with the European Union to ease Trump-era tariffs on aluminum and steel as a "major breakthrough" that would serve to both strengthen the US steel industry and combat the global climate crisis.
                        </p>
                    </div>

                    <nav>
                        <ul>
                            <li>
                                <img src="/public/comment.svg" alt="comment icon">
                                <span>57</span>
                            </li>
                            <li>
                                <img src="/public/retweet.svg" alt="comment icon">
                                <span>144</span>
                            </li>
                            <li>
                                <img src="/public/like.svg" alt="comment icon">
                                <span>184</span>
                            </li>
                            <li>
                                <img src="/public/share.svg" alt="comment icon ">
                                <span></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div>
                <div>
                    <img src="/public/profile_photo.jpeg" alt="icon">
                </div>

                <div>
                    <div>
                        <p>The New York Times</p>
                        <img src="/public/Group.svg" alt="checkIcon">
                        <span>@nytimes .</span>
                        <span>2h</span>
                    </div>

                    <div>
                        <p>
                            Gardening boomed during the pandemic. Six Black writers share how it has helped them re-establish, and reimagine, a connection to cultivation and the land
                        </p>
                    </div>

                    <img src="/public/profile_photo.jpeg" alt="image">

                    <nav>
                        <ul>
                            <li>
                                <img src="/public/comment.svg" alt="comment icon">
                                <span>57</span>
                            </li>
                            <li>
                                <img src="/public/retweet.svg" alt="comment icon">
                                <span>144</span>
                            </li>
                            <li>
                                <img src="/public/like.svg" alt="comment icon">
                                <span>184</span>
                            </li>
                            <li>
                                <img src="/public/share.svg" alt="comment icon ">
                                <span></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div>
                <div>
                    <img src="/public/profile_photo.jpeg" alt="icon">
                </div>

                <div>
                    <div>
                        <p>The New York Times</p>
                        <img src="/public/Group.svg" alt="checkIcon">
                        <span>@nytimes .</span>
                        <span>2h</span>
                    </div>

                    <div>
                        <p>
                            Gardening boomed during the pandemic. Six Black writers share how it has helped them re-establish, and reimagine, a connection to cultivation and the land
                        </p>
                    </div>

                    <nav>
                        <ul>
                            <li>
                                <img src="/public/comment.svg" alt="comment icon">
                                <span>57</span>
                            </li>
                            <li>
                                <img src="/public/retweet.svg" alt="comment icon">
                                <span>144</span>
                            </li>
                            <li>
                                <img src="/public/like.svg" alt="comment icon">
                                <span>184</span>
                            </li>
                            <li>
                                <img src="/public/share.svg" alt="comment icon ">
                                <span></span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>

        <div>
            <div>
                <img src="/public/search.svg" alt="loopIcon">
                <input placeholder="Search Twitter">
            </div>

            <div>
                <div>
                    <p>Trends for you</p>
                    <img src="/public/Settings.svg" alt="settings icon">
                </div>

                <div>
                    <div>
                        <div>
                            <p>Trending in Turkey</p>
                            <img src="/public/More-2.svg">
                        </div>
                        <p>#SQUID</p>
                        <p>
                            <span>2,066</span>
                            Tweets
                        </p>
                    </div>

                    <div>
                        <div>
                            <p>Trending in Turkey</p>
                            <img src="/public/More-2.svg">
                        </div>
                        <p>#SQUID</p>
                        <p>
                            <span>2,066</span>
                            Tweets
                        </p>
                    </div>

                    <div>
                        <div>
                            <p>Trending in Turkey</p>
                            <img src="/public/More-2.svg">
                        </div>
                        <p>#SQUID</p>
                        <p>
                            <span>2,066</span>
                            Tweets
                        </p>
                    </div>

                    <div>
                        <div>
                            <p>Trending in Turkey</p>
                            <img src="/public/More-2.svg">
                        </div>
                        <p>#SQUID</p>
                        <p>
                            <span>2,066</span>
                            Tweets
                        </p>
                    </div>
                    <p>Show more</p>
                </div>
            </div>

            <div>
                <p>
                    Who to follow
                </p>

                <div>
                    <div>
                        <img src="/public/profile_photo.jpeg">
                        <div>
                            <div>
                                <p>The New York Times</p>
                                <img src="/public/Group.svg">
                            </div>
                            <p>@nytimes</p>
                        </div>
                        <button>
                            Follow
                        </button>
                    </div>

                    <div>
                        <img src="/public/profile_photo.jpeg">
                        <div>
                            <div>
                                <p>CNN</p>
                                <img src="/public/Group.svg">
                            </div>
                            <p>@CNN</p>
                        </div>
                        <button>
                            Follow
                        </button>
                    </div>

                    <div>
                        <img src="/public/profile_photo.jpeg">
                        <div>
                            <div>
                                <p>Tweeter</p>
                                <img src="/public/Group.svg">
                            </div>
                            <p>@nytimes</p>
                        </div>
                        <button>
                            Follow
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div>
        </div>

        <section>
        </section>

        <div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="/resources/js/dashboard.js"></script>
</body>

</html>
