<ul class="flex gap-10 reactionBtnList w-[100%] justify-evenly">
    <li class="flex gap-3 items-center">
        <img src="/public/comment.svg" alt="comment icon" class="w-5 h-5" data-action="comment">
        <span>{{ item.comment }}</span>
    </li>
    <li class="flex gap-3 items-center">
        <img src="/public/retweet.svg" alt="retweet icon" class="w-5 h-5" data-action="retweet">
        <span>{{ item.partage }}</span>
    </li>
    <li class="flex gap-3 items-center">
        <img src="/public/like.svg" alt="like icon" class="w-5 h-5 likeicon" data-action="like">
        <span class="like-count">{{ item.likes }}</span>
    </li>
    <li class="flex gap-3 items-center">
        <img src="/public/share.svg" alt="share icon" class="w-5 h-5" data-action="share">
        <span></span>
    </li>
</ul>