<ul class="flex gap-10 reactionBtnList w-[100%] justify-evenly">
    <li class="flex gap-3 items-center">
        <img src="/comment.svg" alt="comment icon" class="w-5 h-5" data-action="comment">
        <span>{{ poste.comment }}</span>
    </li>
    <li class="flex gap-3 items-center">
        <img src="/Retweet.svg" alt="retweet icon" class="w-5 h-5" data-action="retweet">
        <span>{{ poste.partage }}</span>
    </li>
    <li class="flex gap-3 items-center">
        <img src="/like.svg" alt="like icon" class="w-5 h-5 likeicon" data-action="like">
        <span class="like-count">{{ poste.likes }}</span>
    </li>
    <li class="flex gap-3 items-center">
        <img src="/Share.svg" alt="share icon" class="w-5 h-5" data-action="share">
        <span></span>
    </li>
</ul>