<div class="bg-gray-800 flex rounded-full p-2 gap-3">
    <img src="/public/search.svg" alt="loopIcon">
    <input placeholder="Search Twitter" class="w-full">
</div>

<div class="bg-gray-800 flex flex-col rounded-[1rem] gap-1 p-3  min-h-[20rem]">
    <div class="flex justify-between items-center">
        <p class="font-bold text-lg">Trends for you</p>
        <img src="/public/Settings.svg" alt="settings icon" class="icon">
    </div>

    <div class="flex flex-col gap-1 overflow-x-auto">
        <nav>
            <ul class="flex flex-col gap-3">
                <li>
                    <div class="flex justify-between items-center">
                        <p class="text-[var(--grayTextColor)] text-xs">Trending in Turkey</p>
                        <img src="/public/More-2.svg" class="w-[1.125rem] h-[1.125rem]">
                    </div>
                    <p>#SQUID</p>
                    <p class="text-[var(--grayTextColor)] text-xs">
                        <span>2,066</span>
                        Tweets
                    </p>
                </li>

                <li>
                    <div class="flex justify-between items-center">
                        <p class="text-[var(--grayTextColor)] text-xs">Trending in Turkey</p>
                        <img src="/public/More-2.svg" class="w-[1.125rem] h-[1.125rem]">
                    </div>
                    <p>#SQUID</p>
                    <p class="text-[var(--grayTextColor)] text-xs">
                        <span>2,066</span>
                        Tweets
                    </p>
                </li>

                <li>
                    <div class="flex justify-between items-center">
                        <p class="text-[var(--grayTextColor)] text-xs">Trending in Turkey</p>
                        <img src="/public/More-2.svg" class="w-[1.125rem] h-[1.125rem]">
                    </div>
                    <p>#SQUID</p>
                    <p class="text-[var(--grayTextColor)] text-xs">
                        <span>2,066</span>
                        Tweets
                    </p>
                </li>

                <li>
                    <div class="flex justify-between items-center">
                        <p class="text-[var(--grayTextColor)] text-xs">Trending in Turkey</p>
                        <img src="/public/More-2.svg" class="w-[1.125rem] h-[1.125rem]">
                    </div>
                    <p>#SQUID</p>
                    <p class="text-[var(--grayTextColor)] text-xs">
                        <span>2,066</span>
                        Tweets
                    </p>
                </li>
            </ul>
        </nav>
        <p class="text-[var(--bluebutton)]">Show more</p>
    </div>
</div>

<div class="flex flex-col gap-3 bg-gray-800 rounded-[1rem] p-3">
    <p class="text-lg font-bold">
        Who to follow
    </p>

    <nav>
        <ul class="flex flex-col gap-3">
            <li class="flex justify-between items-center gap-3">
                <img src="/public/profile_photo.jpeg" class="imgPhoto">
                <div class="flex flex-col ">
                    <div class="flex flex-row gap-1">
                        <p>The New York Times</p>
                        <img src="/public/Group.svg">
                    </div>
                    <p class="text-gray-500">@nytimes</p>
                </div>
                <button class="bg-white text-black w-[4.5625rem] h-[1.9375rem] rounded-full">
                    Follow
                </button>
            </li>

            <li class="flex justify-between items-center gap-3">
                <img src="/public/profile_photo.jpeg" class="imgPhoto">
                <div class="flex flex-col ">
                    <div class="flex flex-row gap-1">
                        <p>The New York Times</p>
                        <img src="/public/Group.svg">
                    </div>
                    <p class="text-gray-500">@nytimes</p>
                </div>
                <button class="bg-white text-black w-[4.5625rem] h-[1.9375rem] rounded-full">
                    Follow
                </button>
            </li>

            <li class="flex justify-between items-center gap-3">
                <img src="/public/profile_photo.jpeg" class="imgPhoto">
                <div class="flex flex-col ">
                    <div class="flex flex-row gap-1">
                        <p>The New York Times</p>
                        <img src="/public/Group.svg">
                    </div>
                    <p class="text-gray-500">@nytimes</p>
                </div>
                <button class="bg-white text-black w-[4.5625rem] h-[1.9375rem] rounded-full">
                    Follow
                </button>
            </li>
        </ul>
    </nav>

    <p class="text-[var(--bluebutton)]">Show more</p>
</div>