<div class="flex flex-row gap-3 paddingBottom ">
    <img src="{{user.img}}" alt="profile_img" class="w-12 h-12 rounded-full object-cover">
    <form  class="w-full" id="postInputForm">
        <textarea id="autoResize" placeholder="What's happening?" class="w-full" required></textarea>
        <input type="hidden" id="id_user" value="{{user.id}}"> <!-- Simule l'ID utilisateur -->
        <div class="flex flex-row justify-between items-end">
            <nav>
                <ul class="flex flex-row gap-3">
                    <li>
                        <img src="/public/Icons/Media.svg" alt="icon">
                    </li>
                    <li>
                        <img src="/public/Icons/Gif.svg" alt="icon">
                    </li>
                    <li>
                        <img src="/public/Icons/Poll.svg" alt="icon">
                    </li>
                    <li>
                        <img src="/public/Icons/Emoji.svg" alt="icon">
                    </li>
                    <li>
                        <img src="/public/Icons/Schedule.svg" alt="icon">
                    </li>
                </ul>
            </nav>

            <button type="submit" class="w-[4.9375rem] h-[2.25rem] bg-[var(--bluebutton)] rounded-full" id="btnTweetHome">Tweet</button>
        </div>
    </form>
</div>